
body{

    color: azure;
     background-image: url(descarga.jpeg);
 text-align: center;

    

}
iframe{
     width: 320px;
    height: 180px;
    border: 5px solid black;     
    border-radius: 10px;
    box-shadow: 0 0 15px black;   
     display: block;
    margin: 20px auto;
    width: 300px;

}
img {
  width: 250px;
    height: 180px;
    border-radius: 10px;
    border: 4px solid rgb(42, 119, 152);
}
